@using Microsoft.AspNet.Identity
@model Mentor.ViewModels.ProgramViewModel
@{
    ViewBag.Title = "Program";
}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>@Model.Program.Name</h1>
                <p>
                    Your a member!
                    <div>
                        Mentee: @Model.IsMentee
                    </div>
                    <div>
                        Mentor: @Model.IsMentor
                    </div>
                    <div>
                        Admin: @Model.IsAdmin
                    </div>
                </p>
            </div>
            @* Chat program*@
            <h2 class="label label-primary"> Live chat</h2>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8 border">
                        <div class="row border">
                            <div class="panel-body">
                                <ul class="chat" id="collective-chat">

                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>14 mins ago
                                                </small>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                                <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                            </div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                                dolor, quis ullamcorper ligula sodales.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="text" type="text" class="form-control input-sm btn-input" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button id="sendmessage" class="btn btn-warning btn-sm">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 border">
                        <ul class="list-group">
                            <li class="list-group-item"> Online </li>
                            @foreach (var item in Model.Program.Mentors)
                            {
                                <li class="list-group-item"> @item.FirstName @item.LastName </li>
                            }
                            @foreach (var item in Model.Program.Mentee)
                            {
                                <li class="list-group-item"> @item.FirstName @item.LastName </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            @* Calendar*@
            <h2 class="label label-primary"> Upcomeing sessions</h2>
            <div class="jumbotron">
                <div id="calendar">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Mentors</h3>
                    <ul class="list-group">
                        @foreach (var item in Model.Program.Mentors)
                        {
                            <li class="list-group-item"> @item.FirstName @item.LastName  </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-6">
                    <h3>Mentees</h3>
                    <ul class="list-group">
                        @foreach (var item in Model.Program.Mentee)
                        {
                            <li class="list-group-item"> @item.FirstName @item.LastName  </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

@section FullCalendar {
    <link rel="stylesheet" href="~/Content/fullcalendar.css" />
    <link href="~/Content/css/program.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script>
        $(document).ready(function () {
            var calendar = $('#calendar');
            calendar.fullCalendar({
                defaultDate: '2014-09-12',
                editable: true,
                eventLimit: true
            });
        });
    </script>
}

@section SignalR {
    <script src="~/Scripts/jquery.signalR-2.1.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
    $(function () {
        var chat = $.connection.chatHub;
        var position = "left";
        chat.client.addNewMessageToPage = function (message) {
            if (position === "left") {
                $('#collective-chat').append(
                    '<li class="left clearfix">' +
                                        '<span class="chat-img pull-left">' +
                                            '<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />' +
                                        '</span>' +
                                        '<div class="chat-body clearfix">' +
                                            '<div class="header">' +
                                                '<strong class="primary-font">' + "@Model.CurrentUser.FirstName" + " " + "@Model.CurrentUser.LastName" + '</strong> <small class="pull-right text-muted">' +
                                                    '<span class="glyphicon glyphicon-time"></span>' + '12 mins ago' +
                                                '</small>' +
                                            '</div>' +
                                            '<p>' +
                       htmlEncode(message) +
            '</p>' +
        '</div>' +
    '</li>'
                    );
            } else {
                $('#collective-chat').append(
               '<li class="left clearfix">' +
                                   '<span class="chat-img pull-right">' +
                                       '<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />' +
                                   '</span>' +
                                   '<div class="chat-body clearfix">' +
                                       '<div class="header">' +
                                           '<strong class="primary-font">' + "@Model.CurrentUser.FirstName" + " " + "@Model.CurrentUser.LastName" + '</strong> <small class="pull-right text-muted">' +
                                               '<span class="glyphicon glyphicon-time"></span>' + '12 mins ago' +
                                           '</small>' +
                                       '</div>' +
                                       '<p>' +
                  htmlEncode(message) +
       '</p>' +
   '</div>' +
'</li>'
            )
            }
        };
        $('#text').focus();
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                chat.server.send($('#text').val());
                $('#text').val('').focus();
            });
        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
</script>
}
